<div class="modal-header">
  <h4 class="modal-title pull-left">{{title}}</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div *ngFor="let item of list">
    <!-- <div class="page-header">
      {{item.storyHeading}}
    </div> -->
    <p><small>{{ item.entryDate | date:'medium' }}</small></p>
    <h4><p>{{item.displayname}}</p></h4>
    <!-- <p><h3>{{item.}}</h3></p> -->
    <p>{{item.storyBody}}</p>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" (click)="bsModalRef.hide()">Close</button>
</div>